<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="shoppingCart" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>